@import url('https://fonts.googleapis.com/css2?family=Newsreader:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.html {
  scroll-behavior: smooth;
}

.App {
  text-align: center;
  font-family: 'NewsReader', serif;
}

.custom-scroll::-webkit-scrollbar {
  width: 8px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: #222831;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.h1 {
  font-family: 'NewsReader', serif;
  font-weight: 700;
}

.p {
  font-family: 'NewsReader', serif;
  font-weight: 400;
  color: #EEEEEE;
}

.flex-container {
  display:flex;
  justify-content: space-between;
  padding: 0px;
}

.item {
  padding: 0px;
}

.search-bar {
  justify-content: space-between;
}

.bigTable {
  border: #282c34;
  border-width: 5px;
  padding: 10px;
}

html, body, #root {
  margin: 0;
  padding: 0%;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: #092635  ;
  justify-items: center;
}

.header {
  background-color: #092635;
  position: fixed;
  flex: 0 0 40%;
  height: 100vh;

}

.nav {
  border-color: #393E46;
  display: flex;
  flex-direction: column;
  
  
}

.logo {
  font-size: 45px;
  font-family: 'Inter', serif;
  font-weight: 700;
  color: #f7fafc ;
}

.site {
  padding-top: 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 70%;
  position: relative;
  justify-content: space-between;

}
.button {
  width: 300px;
  height: 60px;
  color: #f7fafc ;
  background-color: #092635;
  border: 0cm;
  transition: 0.5s all;
  text-align: left;
  
}

.p1 {
  font-family: 'Inter', serif;
  font-size: 20px;
}
.main {
  overflow-y: auto;
  vertical-align: middle;
  align-items: center;
  display: flex;
  justify-content: center;
  padding-top: 5%;
  margin-left: 40%;
}

.heading {
  padding-left: 2%;
  font-size: 30px;
  color: #f7fafc ;
  font-family: 'Inter', serif;
}

.aboutText {
  font-size: 15px;
  color: #b0b0b0   ;
  font-family: 'Inter', serif;
  word-spacing: 0.35mm;
  letter-spacing: 0.04mm;
  
}



.title {
  font-size: 25px;
  color: #EEEEEE;

}

.tileContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 0px;
}

.tile {
  margin-top: 30px;
  width: 48%;
  aspect-ratio: 9/10;
  background-color: #474E68;
  border-radius: 5%;
  border-color: #03506F;
  border-width: 3px;
  border-style: solid;
  margin-right: 1%;
  overflow: hidden;

  font-family: 'Inter', serif;
  transition: all 0.3s;

  caret-color: transparent;
}

/* SVG container for shiny text */
.shiny-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* SVG text styles */
.shiny-text text {
  font-size: 3rem;
  font-weight: bold;
  fill: url(#shine-gradient); /* Use the gradient mask */
  stroke: transparent;
  paint-order: stroke fill;
}

/* Define the gradient used for shine */
.shiny-text.shine text {
  animation: shineWave 2s ease-in-out;
}

/* Animation for shine effect */
@keyframes shineWave {
  0% {
    fill: url(#shine-gradient);
  }
  100% {
    fill: url(#shine-gradient);
    filter: blur(2px);
  }
}

.imageContainer {
  width: 100%;
  height:65%;
  overflow: hidden;
  align-content: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5); /* Add shadow */
  border-bottom: 2px #222831;
  
}

.tileImage {
  width: 100%;
  height: auto;
  border-radius: 10%;
}

.tileTitle {
  color: #00ADB5;
  margin-left: 5%;
  margin-top: 6%;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Inter', serif;
}
.tileText {
  margin-left: 5%;
  margin-top: 5%;
  margin-right: 5%;
  text-align: justify;
  color: #b0b0b0;
  font-size: 12px;
  font-family: 'Inter', serif;
}

.tile:hover {
  cursor: pointer;
  background-color: #393E46;
}

.button:hover {
  background-color: #222831;
  cursor: pointer;
}